<app-agent-panel></app-agent-panel>
<!--<div class="container">
  <h2>Ouverture d'un compte de paiement</h2>
  <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
    <mat-card>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Sélectionner un produit</mat-label>
        <mat-select formControlName="product">
          <mat-option value="Hissab 1">Hissab 1 - Plafond : 200 DH</mat-option>
          <mat-option value="Hissab 2">Hissab 2 - Plafond : 5000 DH</mat-option>
          <mat-option value="Hissab 3">Hissab 3 - Plafond : 20000 DH</mat-option>
        </mat-select>
      </mat-form-field>
      <h3>Informations client</h3>
      <div class="form-group">
        <mat-form-field appearance="fill" class="half-width">
          <mat-label>Nom</mat-label>
          <input matInput formControlName="nom">
        </mat-form-field>
        <mat-form-field appearance="fill" class="half-width">
          <mat-label>Prénom</mat-label>
          <input matInput formControlName="prenom">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="fill" class="half-width">
          <mat-label>Téléphone</mat-label>
          <input matInput formControlName="numTel">
        </mat-form-field>
        <mat-form-field appearance="fill" class="half-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>
      </div>
      <div class="button-group">
        <button mat-raised-button color="accent" type="submit">Submit</button>
      </div>
    </mat-card>
  </form>
</div>-->

<br/>
    <div class="container">
        <h2>Ouverture d'un compte de paiement</h2>
        <form [formGroup]="clientForm">
            <div class="form-group">
                <label for="typecompte">Sélectionner un produit</label>
                <select id="typecompte" name="typecompte" formControlName="typecompte">
                    <option value="Hissab 1">Hissab 1 - Plafond : 200 DH</option>
                    <option value="Hissab 2">Hissab 2 - Plafond : 5000 DH</option>

                    <option value="Hissab 3">Hissab 3 - Plafond : 20 000 DH</option>

                </select>
            </div>
            <div class="form-group">
                <label for="nom">Nom</label>
                <input type="text" id="nom" name="nom" formControlName="nom">
            </div>
            <div class="form-group">
                <label for="prenom">Prénom</label>
                <input type="text" id="prenom" name="prenom" formControlName="prenom">
            </div>
            <div class="form-group">
                <label for="telephone">Téléphone</label>
                <input type="tel" id="telephone" name="numTel" formControlName="numTel">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" formControlName="email">
            </div>
            <button type="submit" (click)="addClient()">Ajouter</button>
        </form>
    </div>


