<mat-toolbar color="primary">
   
    <span class="toolbar-title">Espace Agent</span>

    <span class="spacer"></span>
    <button mat-button class="toolbar-button" routerLink="/list">Home</button>
    <button mat-button  class="toolbar-button" routerLink="/profil">Profile</button>
    <button mat-raised-button routerLink="/Add"  class="button-margin">
        Ajouter client
      </button>

    
   
    <button mat-raised-button color="accent" class="button-margin" routerLink="/logout" >Logout</button>
  </mat-toolbar>
  
  <!--<div class="image-container">
  <img src="https://static.vecteezy.com/system/resources/previews/006/369/561/original/admin-panel-flat-illustration-with-editable-facility-vector.jpg"
   alt="Description of image" class="centered-image"></div>-->

  